@import "./../../variables";

.Nav {
    display: flex;
    background: url('https://th.bing.com/th/id/R.a66ce352d22f01c5fd34ca8fa8e02837?rik=cGRebNp2ZLD%2bwg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f1%2fb%2fe%2f70685.jpg&ehk=sTEEzoxZthnfCaWiQRce3yOIjzYZB8MekpDpoovW2r0%3d&risl=&pid=ImgRaw&r=0');
    background-size: 100% ;
    //background-color: $primary-color;
    height: 70px;
    width: 100%;
    background-position: center; 
    justify-content: space-between;
    border-bottom: $secondary-color 7px solid;

    &_img {
        width: 130px;
        opacity: 1;
    }

    &_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        width: 150px;
    }
    
    &_menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_user {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 150px;
    }


}

