@import "./../../variables";

body {
  margin: 0;
}
.login {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;

  &__bg {
    position: absolute;
    inset: 0;
    background-image: url("https://th.bing.com/th/id/R.a66ce352d22f01c5fd34ca8fa8e02837?rik=cGRebNp2ZLD%2bwg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f1%2fb%2fe%2f70685.jpg&ehk=sTEEzoxZthnfCaWiQRce3yOIjzYZB8MekpDpoovW2r0%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    opacity: 0.7;
    z-index: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 65%;
    max-width: 400px;
    margin-top: -50px;
  }
}
