@import "./../../variables";
body {
  margin: 0;
}

.login-page {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  //   min-height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  //   top: -8px;
}

.login-page__background {
  width: 100%;
  height: 100vh;
  background-image: url("https://th.bing.com/th/id/R.a66ce352d22f01c5fd34ca8fa8e02837?rik=cGRebNp2ZLD%2bwg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f1%2fb%2fe%2f70685.jpg&ehk=sTEEzoxZthnfCaWiQRce3yOIjzYZB8MekpDpoovW2r0%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  opacity: 0.7;
}

.login-page__logo {
  width: 65%;
  max-width: 400px;
  margin-top: 100px;
}
