@import "./../../variables";

.login-form {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  width: calc(95% - 80px);
  max-width: 500px;

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-self: flex-start;
  }

  &__input {
    padding: 10px;
    margin-top: 5px;
    border-color: lightgray;
  }

  &__button {
    font-size: 14px;
    margin-top: 10px;
    background-color: green;
    color: white;
    width: 50%;
  }

  &__button--primary {
    background-color: blue;
  }
}
