@import "./../../variables";

.login-form {
  margin: 0 auto;
  margin-top: 80px;
  text-align: start;
  background-color: white;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  width: calc(95% - 80px);
  max-width: 500px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__label {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-self: flex-start;
  }

  &__input {
    padding: 10px;
    margin-top: 5px;
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 26px;
    background-color: blue;
    padding: 5px;
    border-radius: 15px;
    color: white;
    width: 150px;
    height: 40px;
  }

  &__button:hover {
    background-color: darkblue;
  }
}
