$primary-color:rgba(255, 41, 41, 0.801);
$secondary-color: rgb(255, 204, 63);
$teriary-color:rgb(84, 90, 255);
$quartenernary-color:rgb(142, 126, 221);
$quinary-color:rgb(140, 255, 240);
$senary-color:rgb(255, 249, 161);
$septenary-color:rgb(0, 0, 0);
$octonary-color:rgb(255, 246, 119);
$nonary-color:rgb(173, 240, 255);
$denary-color:rgb(56, 193, 223);
$undenary-color:rgb(255, 235, 180);
$duodenary-color:rgb(110, 110, 110);
$tredenary-color:rgb(255, 255, 255);

